<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ pokemon.name | titlecase }} vangen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="getImgUrl()"></ion-img>

    <ion-card-header>
      <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="error">{{ error }}</p>

      <ion-button expand="block" *ngIf="!myPokemon" (click)="catchPokemon()">{{ pokemon.name | titlecase }} vangen!</ion-button>
      <p *ngIf="myPokemon">Deze pokemon heb je gevangen!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
